<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Scheduler</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/styles.css" />
      <link rel="stylesheet" href="/css/dashboard.css"/>
     <link rel="stylesheet" href="/css/signup.css"/>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Employee Scheduler</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Dashboard</a
              >
            </li>
          </ul>
        </div>
      </div>
      {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{/if}}
    </nav>

    <main>
        {{{ body }}}
    </main>

    <footer class="fixed-bottom">
        <h3 class="special-thanks">
            Special thanks to <a href="https://github.com/beau4ta">Beau Fortier</a>, 
            <a href="https://github.com/Kamille-Y">Kamille Young</a>, 
            <a href="https://github.com/noahhelton98">Noah Helton</a>, and 
            <a href="https://github.com/vickphat">Vick Phat!</a>
            </h3>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/signup.js"></script>
    <script src="/js/datepicker.js"></script>
    <script src="/js/dash.js"></script>
     </body>
</html>