<div class="schedule_container">
    <div class="daysContainer">
        <span class="corner"></span>
    
    </div>
    <div class="dayBlock">
        <span class="day">This week:</span>
         {{#each workers as |work|}}
        <div class="block"><p>
            {{work.date}}
            {{work.work_type}}
            {{work.start_time}}
            {{work.end_time}}
        </p></div>
                {{/each}}
    </div>
</div>


<div class="pop-up__container">
    <div class="pop-up">
        <h4>Are you sure you want to delete all the blocks from your schedule?</h4>
        <div class="btn__container">
            <div class="btn__answer" id="btn_Yes">YES</div>
            <div class="btn__answer" id="btn_no">NO</div>
        </div>
        <link rel="stylesheet" href="/css/calendar.css"/>
    </div>
