<div class="schedule_container">
    <div class="daysContainer">
        <span class="corner"></span>
    </div>
    <div class="dayBlock">
        <span class="day">This week:</span>
         {{#each workers as |work|}}
        <div class="block"><p>
            {{work.date}}
            {{work.work_type}}
            {{work.start_time}}
            {{work.end_time}}
        </p></div>
                {{/each}}
    </div>
</div>
        <link rel="stylesheet" href="/css/calendar.css"/>
    </div>