<<<<<<< HEAD

<body>
  
        <div class="schedule_container">
            <div class="daysContainer">
                <span class="corner"></span>
                <div class="day">Sunday</div>
                <div class="day">Monday</div>
                <div class="day">Tuesday</div>
                <div class="day">Wednesday</div>
                <div class="day">Thursday</div>
                <div class="day">Friday</div>
                <div class="day">Saturday</div>
            </div>
            <div class="dayBlock">
                <span class="time">8am <br> - <br> 12pm</span>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
            <div class="dayBlock">
                <span class="time">12pm <br> - <br> 2pm</span>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
            <div class="dayBlock">
                <span class="time">2pm <br> - <br> 6pm</span>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
            <div class="dayBlock">
                <span class="time">6pm <br> - <br> 9pm</span>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
            <div class="dayBlock">
                <span class="time">9pm <br> - <br> 11pm</span>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
                <div class="block"></div>
            </div>
        </div>

	
=======
<div class="schedule_container">
    <div class="daysContainer">
        <span class="corner"></span>
        <div class="day">Sunday</div>
        <div class="day">Monday</div>
        <div class="day">Tuesday</div>
        <div class="day">Wednesday</div>
        <div class="day">Thursday</div>
        <div class="day">Friday</div>
        <div class="day">Saturday</div>
    </div>
    <div class="dayBlock">
        <span class="time">8am <br> - <br> 12pm</span>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
    <div class="dayBlock">
        <span class="time">12pm <br> - <br> 2pm</span>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
    <div class="dayBlock">
        <span class="time">2pm <br> - <br> 6pm</span>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
    <div class="dayBlock">
        <span class="time">6pm <br> - <br> 9pm</span>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
    <div class="dayBlock">
        <span class="time">9pm <br> - <br> 11pm</span>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
</div>

<button class="deleteBtn">Reset Schedule</button>

<div class="pop-up__container">
    <div class="pop-up">
        <h4>Are you sure you want to delete all the blocks from your schedule?</h4>
        <div class="btn__container">
            <div class="btn__answer" id="btn_Yes">YES</div>
            <div class="btn__answer" id="btn_no">NO</div>
        </div>
    </div>
</div>
 <link rel="stylesheet" href="/css/calendar.css"/>
</div>
>>>>>>> e1984324105de6c3e9fdd2929f633a528b51bdec
