<div class="dash-container">
        <div class="dash-header">Welcome {{first_name}}!</div>
    </div>

    <div class="button-container">
        <button class="view-btn">View Schedule</button>
        <button class="edit-btn">Edit Schedule</button>
    </div>
