 <div class="row form-flex">
      <div class="row-1">
          <div class="welcome-card">
            <h1 class="welcome-title">Welcome to the Employee Scheduler!</h1>
          </div>

        <div class="login-header">
          <h2 class="login-title">Log in to your account!</h2>
        </div>
      </div>

      <div class="form-div">

         <div class="picture">
          <img src="/friendlyoffice.jpeg" alt="friendly office">
        </div>

        <form class="login-form">
          <div class="mb-3 email">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-email"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3 password">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-password"
              id="exampleInputPassword1"
            />
          </div>
          <div class="btn-container">
          <button type="submit" class="login-btn">Log in!</button>
        </div>
          <p class="sign-up">Don't have an account?<a href="/signup" class="sign-up-link"> Sign up!</a></p>
                        </form>
            </div>
        </div>