 <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well-block">
                    <div class="well-title">
                        <h2>Schedule an Employee</h2>
                    </div>
                    <form>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label" for="name">Employee's IDe</label>
                                    <input id="user_id" name="user_id" type="text" placeholder="2" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                     <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="start_time">Start Time</label>
                                <select id="start_time" name="start_time" class="form-control">
                                        <option value="8:00 to 12:00">8:00</option>
                                        <option value="12:00 to 2:00">12:00 </option>
                                        <option value="2:00 to 6:00">2:00</option>
                                        <option value="6:00 to 9:00">6:00</option>
                                        <option value="9:00 to 11:00">9:00</option>
                                    </select>
                            </div>
                        </div>
                        </disv>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="end_time">End Time</label>
                                <select id="end_time" name="end_time" class="form-control">
                                        <option value="12:00">12:00</option>
                                        <option value="2:00">2:00</option>
                                        <option value="6:00">6:00</option>
                                        <option value="9:00">9:00</option>
                                        <option value="11:00">11:00</option>
                                    </select>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="name">Work type</label>
                                <input id="work_type" name="work_type" type="text" placeholder="Server" class="form-control input-md">
                            </div>
                        </div>

                </div>
                </form>
            </div>
        </div>
        <div class="bootstrap-iso">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <form method="post">
                            <div class="form-group">
                                <label class="control-label" for="date">Date</label>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="name">Notes</label>
                                <input id="notes" name="name" type="text" placeholder="Serve tables in zone 5" class="form-control input-md">
                            </div>
                        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary">Schedule Employee</button>
            </div>
        </div>