 <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well-block">
                    <div class="well-title">
                        <h2>Schedule an Employee</h2>
                    </div>
                    <form>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label" for="name">Employee's ID</label>
                                    <input id="user_id" name="user_id" type="text" placeholder="2" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                     <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="start_time">Start Time</label>
                                <select id="start_time" name="start_time" class="form-control">
                                        <option value="6:00am">6:00am</option>
                                        <option value="9:00am">9:00am </option>
                                        <option value="2:00pm">2:00pm</option>
                                        <option value="3:00pm">3:00pm</option>
                                        <option value="4:00pm">4:00pm</option>
                                    </select>
                            </div>
                        </div>
                        </disv>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="end_time">End Time</label>
                                <select id="end_time" name="end_time" class="form-control">
                                        <option value="2:00pm">2:00pm</option>
                                        <option value="5:00pm">5:00pm</option>
                                        <option value="9:00pm">9:00pm</option>
                                        <option value="11:00pm">11:00pm</option>
                                        <option value="2:00am">2:00am</option>
                                    </select>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="name">Work type</label>
                                <input id="work_type" name="work_type" type="text" placeholder="Server" class="form-control input-md">
                            </div>
                        </div>

                </div>
                </form>
            </div>
        </div>
        <div class="bootstrap-iso">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <form method="post">
                            <div class="form-group">
                                <label class="control-label" for="date">Date</label>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="name">Notes</label>
                                <input id="notes" name="name" type="text" placeholder="Serve tables in zone 5" class="form-control input-md">
                            </div>
                        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="button" class="scheduler-btn">Schedule Employee</button>
            </div>
        </div>