
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="well-block">
                    <div class="well-title">
                        <h2>Schedule an Employee</h2>
                    </div>
                    <form>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="name">Employee's First Name</label>
                                <input id="name" name="name" type="text" placeholder="Jane" class="form-control input-md">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label" for="name">Employee's Last Name</label>
                                    <input id="name" name="name" type="text" placeholder="Doe" class="form-control input-md">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="time">Preferred Time</label>
                                <select id="time" name="time" class="form-control">
                                        <option value="8:00 to 9:00">8:00 to 9:00</option>
                                        <option value="9:00 to 10:00">9:00 to 10:00</option>
                                        <option value="10:00 to 1:00">10:00 to 1:00</option>
                                        <option value="8:00 to 9:00">8:00 to 9:00</option>
                                        <option value="9:00 to 10:00">9:00 to 10:00</option>
                                        <option value="10:00 to 1:00">10:00 to 1:00</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="appointmentfor">Work Type</label>
                                <select id="worktype" name="worktype" class="form-control">
                                        <option value="Service#1">handlebars</option>
                                        <option value="Service#2">handlebars#2</option>
                                        <option value="Service#3">handlebars#3</option>
                                        <option value="Service#4">handlebars#4</option>
                                    </select>
                            </div>
                        </div>

                </div>
                </form>
            </div>
        </div>
        <div class="bootstrap-iso">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <form method="post">
                            <div class="form-group">
                                <label class="control-label" for="date">Date</label>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary">Schedule Employee</button>
            </div>
        </div>